#container
  h1!= title
  h2!= subtitle
  .clear
  
  nav
    ul
      - nav.forEach(function(item, i){
        - var path = (item.username ? 'http://' : '') + item.path + (item.username || '')
        li(class=item.name)
          a(href=path)
            span.num= i
            span.text= item.name
            span.cap= item.path
              - if (item.username)
                strong= item.username
      - });
      
script(type='text/javascript', src='js/index.js')