- post.path = '/' + moment(post.date).format('M-D-YYYY') + '/' + post.slug;
- var comments = typeof comments != 'undefined' && comments;
- title = typeof title != 'undefined' ? title : null;

article.post
  - if (comments)
    title= post.title + ' - The0th'
  header
    a(href= post.path): h1= post.title
    time(datetime= post.date)= moment(post.date).format('MMMM Do, YYYY')
    a.numComments(href= post.path + '#comments')
      strong= post.comments.length
      |  Comment#{(post.comments.length == 1) ? '' : 's'}
    each tag in post.tags
      a.tag(href= '/tag/' + tag, class= ((tag == title) ? 'active' : ''))= tag
  section.body!= post.html
  - if (comments)
    a(name= 'comments')
    section.comments
      h2 Comments (#{post.comments.length})
      each comment, n in post.comments
        - comment.n = n + 1;
        include comment
      form(action= '/' + post.slug + '/comment', method= 'post')
        h3 Add a comment
        fieldset
          textarea#body(name= 'body', placeholder= 'Comment').
            name: 
            email: 
             
          input#comment(type= 'submit', name='comment', value= 'Submit')
   
- if (comments)       
  script
    var el = $('#body')[0]
      , editor = CodeMirror.fromTextArea(el, {
            mode: 'gfm'
          , matchBrackets: true
          , value: el.value
      });
