#resume
       
  #contact
    h1 Conner Petzold
    
    div
      strong phone
    span.phone= resume.contact.phone.toPhone()

    div
      strong email
    a(href='mailto:'+resume.contact.email).email= resume.contact.email

    div
      strong address
    a(href='http://goo.gl/maps/dNj1').address
      span.street= resume.contact.address.street
      br
      span.city= resume.contact.address.city
      span , 
      span.state= resume.contact.address.state + ' '
      span.zip= resume.contact.address.zipcode
    
    nav
      ul
        li
          a(href='/')
            span.num 0
            span.text back
            span.cap / 
    
  h2 Education
  .clear
  #education
    h3= resume.education.degree
    h4= resume.education.name
    
    span.setting
      strong= resume.education.from + ' - ' + resume.education.to + ' '
      span  • 
      em= resume.education.location
    
  h2 Experience
  .clear
  #experience
    - resume.experience.forEach(function(job){
      h3= job.title
      h4= job.company
      
      span.setting
        strong= job.from + ' - ' + job.to + ' '
        span  • 
        em= job.location
      
      ul.tags
        - job.tags.sort().forEach(function(tag){
          li= tag
        - })
        
      ul.points
        - job.points.forEach(function(point){
          li= point
        - })
      
    - })