#resume
  #intro
    h1.name= resume.name
  #contact
    strong phone 
    span.phone= resume.contact.phone.toPhone()
    br
    
    strong email 
    a(href='mailto:'+resume.contact.email).email= resume.contact.email
    br
    
    strong address
    br
    a(href='http://goo.gl/maps/dNj1').address
      span.street= resume.contact.address.street
      br
      span.city= resume.contact.address.city
      span , 
      span.state= resume.contact.address.state + ' '
      span.zip= resume.contact.address.zipcode
      
  #education
    